body {
    background-image: url("7d0bd1c7c2fc05dec1ec3247c123249c.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  

.contact-banner {
    background-color: #1dd15f;
    color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  .contact-banner p {
    margin: 0;
    font-size: 28px;
  }
  
  .contact-banner a {
    color: #fff;
    text-decoration: underline;
  }
  
  .contact-banner a:hover {
    text-decoration: none;
  }
  

.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #9cf28f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #18430b;
    align-items: center;
  }

  input[type="submit"]:hover {
    background-color: #9cd69e;
  }
  .contact-banner {
    background-color: 
    #235f39;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    top:85%;
    height: 50%;
    width: 100%;
    background-color: rgb(215, 255, 196);
    color: rgb(3, 3, 3);
    text-align: center;
  }
  .social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    margin-right: 20px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover img {
    transform: scale(1.2);
  }
  