body {
    background-image: url("7d0bd1c7c2fc05dec1ec3247c123249c.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.navbar {
    overflow: hidden;
    background-color:  #0f3a08;
  }
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  .menu {
    float: left;
    overflow: hidden;
  }
  

  .menu .menubtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(247, 247, 247);
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 20;
    text-align: justify;
  }
  
  
  .navbar a:hover, .menu:hover .menubtn {
    background-color: rgb(83, 167, 88);
  }
  
  
  .menu-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(78, 134, 75);
    width: 100%;
    z-index: 1;
  }
  

  .menu-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
 
  .menu-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  
  .menu:hover .menu-content {
    display: block;
  }

 



head{
    font: italic;
}
.button-88 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    position: flex;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    width: 10%;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #48bf6998;
  }
  
  .button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(15, 69, 27);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #b3d879;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid rgb(19, 70, 29);
      border-width: 10px 10px 10px 0;
      border-color: transparent rgb(34, 86, 56) transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
  .footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    top:85%;
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(3, 3, 3);
    text-align: center;
  }
  .followus {
    position: static;
    width: 50px;
    height: 10px;
   
  }
  
  .movable-text {
    position: absolute;
    top: 45px;
    left: 615px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .icon {
    list-style: none;
    display: flex;
    bottom: 30px;
    top:25px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .icon li {
    margin-right: 25px;
  }
  
  .icon li:last-child {
    margin-right: 0;
  }
  
  .icon a img {
    width: 50px;
    height: 50px;
    left: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .icon a:hover img {
    transform: scale(1.3);
  }
