body {
    background-image: url("7d0bd1c7c2fc05dec1ec3247c123249c.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.navbar {
    overflow: hidden;
    background-color:  #0f3a08;
  }
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  .menu {
    float: left;
    overflow: hidden;
  }
  

  .menu .menubtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(247, 247, 247);
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 20;
    text-align: justify;
  }
  
  
  .navbar a:hover, .menu:hover .menubtn {
    background-color: rgb(83, 167, 88);
  }
  
  
  .menu-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(78, 134, 75);
    width: 100%;
    z-index: 1;
  }
  

  .menu-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
 
  .menu-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  
  .menu:hover .menu-content {
    display: block;
  }

 



head{
    font: italic;
}
.button-88 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    position: flex;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    width: 10%;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #48bf6998;
  }
  
  .button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }
  * {
    box-sizing: border-box;
  }
  .footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    top:85%;
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(3, 3, 3);
    text-align: center;
  }
  .followus {
    position: static;
    width: 50px;
    height: 10px;
   
  }
  
  .movable-text {
    position: absolute;
    top: 45px;
    left: 615px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .icon {
    list-style: none;
    display: flex;
    bottom: 30px;
    top:25px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .icon li {
    margin-right: 25px;
  }
  
  .icon li:last-child {
    margin-right: 0;
  }
  
  .icon a img {
    width: 50px;
    height: 50px;
    left: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .icon a:hover img {
    transform: scale(1.3);
  }
  section {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff
  }
  
  h2 {
    margin-top: 80;
  }
  
  p {
    margin-bottom: 20;
  }